$cart-width: 420px;
$bg-color: #1b1a20;
$theme-color: #fb0101;

.cart {
  z-index: 100;
  position: fixed;
  top: 0;
  right: -$cart-width;
  width: $cart-width;
  height: 100%;
  background-color: rgba($bg-color, 0.9);
  backdrop-filter: blur(16px);
  transition: right 0.2s;
  @media (max-width: 640px) {
    width: 100%;
    right: -100%;
  }
  &.open {
    right: 0;
  }
  &__open-btn, &__close-btn, &__clear-btn {
    position: absolute;
    top: 0;
    cursor: pointer;
    text-align: center;
    color: #FFF;
    user-select: none;
  }

  $open-btn-size: 60px;
  &__open-btn {
    background-color: rgba($bg-color, 0.9);
    backdrop-filter: blur(16px);
    width: $open-btn-size;
    height: $open-btn-size;
    left: -$open-btn-size;
    line-height: $open-btn-size;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    & .quantity {
      position: absolute;
      bottom: 8px;
      right: 8px;
    }
  }
  &__close-btn {
    width: 40px;
    height: 60px;
    right: 0px;
    line-height: 60px;
  }
  &__clear-btn {
    width: 40px;
    height: 60px;
    left: 0px;
    line-height: 60px;
  }
  .quantity {
    display: inline-block;
    width: 18px;
    height: 18px;
    color: #fff;
    font-weight: 700;
    font-size: .7em;
    text-align: center;
    line-height: 18px;
    border-radius: 50%;
    background-color: $theme-color;
  }

  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    &__header {
      text-align: center;
      color: #ececec;
      padding: 20px 0;
    }
    &__container {
      flex: 1;
      overflow-y: auto;
      @media screen and (min-width: 640px) {
        &::-webkit-scrollbar {
          -webkit-appearance: none;
          width: 10px;
          background-color: rgba(0, 0, 0, 0.2);
          padding: 10px;
        }
        &::-webkit-scrollbar-thumb {
          border-radius: 4px;
          background-color: rgba($bg-color, 1);
        }
      }
    }
    &__footer {
      color: #fff;
      box-shadow: 0px -2px 20px 0px rgb(0 0 0 / 80%);
      background-color: $bg-color;
      padding: 10px 14px 14px;
      text-align: center;
    }
  }
}