$size: 34px;
$radius: 2px;

.checkbox {
  display: inline-block;
  & > label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
    width: $size;
    height: $size;
    font-size: .8em;
    margin-bottom: 8px;
    margin-right: 8px;
    border-radius: $radius;
    line-height: $size;
    text-align: center;
    input[type="checkbox"] {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      &:checked~span {
        background-color: #ff4d4f;
        color: #ececec;
      }
    }
    & > span {
      position: absolute;
      top: 0;
      left: 0;
      width: $size;
      height: $size;
      font-size: .8em;
      border-radius: $radius;
      line-height: $size;
      text-align: center;
      color: #ff4d4f;
      background-color: #fff;
      border: 1px solid transparent;
      transition: border 0.4s ease, background-color 0.4s ease;
      font-weight: bold;
      &:hover {
        border: 1px solid #ff4d4f;
      }
    }
  }
}
