.filter {
  color: #FFF;
  // width: 15%;
  width: 100%;
  @media (max-width: 1024px) {
    // width: 20%;
    width: 100%;
  }
  @media (max-width: 640px) {
    // width: 25%;
    width: 100%;
  }
  @media (max-width: 460px) {
    width: 100%;
    text-align: center;
  }
}
